## pmon for weewx - Copyright 2013-2014 Matthew Wall
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <!-- pmon for weewx - Copyright Matthew Wall -->
    <title>pmon</title>
    <style>
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: #ffffff;
}
    </style>
  </head>

  <body>
    <img src="dayprocmem.png" title="mem_vsz = $latest.mem_vsz : res_rss = $latest.res_rss : memrss = $latest.mem_rss" /></br>
    <iframe width="50%" height="300" scrolling="auto" src="../heap/index.html"></iframe></br>

    <img src="weekprocmem.png" title="mem_vsz = $latest.mem_vsz : res_rss = $latest.res_rss : memrss = $latest.mem_rss" /></br>
    <img src="monthprocmem.png" title="mem_vsz = $latest.mem_vsz : res_rss = $latest.res_rss : memrss = $latest.mem_rss" /></br>
  </body>
</html>
